{% extends 'tickets/base.html' %}



{% block content %}

    <h1 class="entry-title">Hola! Comprá tu bono acá.</h1>

    <div class="list-group">
        {% if ticket_type %}
        <a href="{% url 'order' ticket_type_id=ticket_type.id %}?coupon={{ coupon.token }}" class="card">
            <div class="card-body p-lg-5">
                <h3 class="card-title">{{ ticket_type.name }}</h3>
                <p class="card-text">{{ ticket_type.description }}</p>
                <button class="btn btn-primary mt-3">Comprar</button>
            </div>
        </a>
        {% else %}
        Lo sentimos. No hay bonos disponibles por el momento.
        {% endif %}
    </div>

{% endblock %}
