{% extends 'tickets/base.html' %}
{% load bootstrap5 %}
{% load pipeline %}

{% block extrahead %}
{% if order.amount > 0 %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://sdk.mercadopago.com/js/v2"></script>
    <script>
        $(document).ready(function() {
          const mp = new MercadoPago('{{ MERCADOPAGO_PUBLIC_KEY }}', { locale: 'es-AR' });
          mp.checkout({
            preference: { id: '{{ preference_id }}' },
            render: {
              container: '.cho-container', // Indicates the name of the class where the payment button will be displayed
              label: 'Pagar', // Changes the button label (optional)
            }
          });
        });
    </script>
{% endif %}

{% endblock %}

{% block content %}

<h2>Confirmá los Datos</h2>
<p>Confirmá los datos cargados y realizá el pago. Te llegará un correo con la confirmación de tu bono, recordá chequear spam y promociones.</p>

<dl>
    <dt>Estado</dt>
    <dd>
        {% if order.status == 'PENDING' %}
        <div>
            <div class="fas fa-warning"></div>
            Pago pendiente
        </div>
        {% elif order.status == 'CONFIRMED' %}
        <div class="text-success">
            Confirmada
        </div>
        {% elif order.status == 'ERROR' %}
        <div class="text-danger">
            Error
        </div>
        {% endif %}
    </dd>
</dl>


<h3>Datos del Comprador</h3>
{% include 'partials/person_details.html' with person=order %}

<h3 class="mt-5">Participantes</h3>

{% for ticket in order.ticket_set.all %}
<div class="mb-5">
    {% include 'partials/person_details.html' with person=ticket %}
</div>
{% endfor %}

{% if order.donation_art or order.donation_venue or order.donation_grant %}
<h3>Donaciones</h3>
{% if order.donation_art %}
<dl>
    <dt>Arte</dt>
    <dd>${{ order.donation_art }}</dd>
</dl>
{% endif %}
{% if order.donation_venue %}
<dl>
    <dt>La Sede</dt>
    <dd>${{ order.donation_venue }}</dd>
</dl>
{% endif %}
{% if order.donation_grant %}
<dl>
    <dt>Bono No Tengo Un Mango</dt>
    <dd>${{ order.donation_grant }}</dd>
</dl>
{% endif %}
{% endif %}

{% if order.status == 'PENDING' %}
    <div class="cho-container my-5 w-100">
        {% if order.amount == 0 %}
        <button class="mercadopago-button" onclick="window.location.href='{% url "free_order_confirmation" order_key=order.key %}'">Confirmar</button>
        {% endif %}
    </div>
{% endif %}


{% endblock %}
