{% load static %}

<h4 class="d-flex text-start mt-4">Bonos para transferir</h4>
<div class="d-flex justify-content-end">
    <div class="btn-group mb-3" role="group" aria-label="Filtros">
        <button type="button" id="btn-all" class="btn btn-sm btn-primary"
                onclick="filterTickets('all', this)">Todos
        </button>
        <button type="button" id="btn-pending" class="btn btn-sm btn-outline-warning"
                onclick="filterTickets('pending', this)">
            Pendientes
        </button>
        <button type="button" id="btn-not-pending" class="btn btn-sm btn-outline-danger"
                onclick="filterTickets('not-pending', this)">
            Sin Asignar
        </button>
    </div>
</div>
<div class="row" id="transfer-tickets">
    {% for ticket in tickets_dto %}
        {% if not ticket.is_owners %}
            <div class="col-lg-3 col-sm-12 mb-4 ticket-card
        {% if ticket.is_transfer_pending %}pending{% else %}not-pending{% endif %}">
                <div class="shadow rounded border border-secondary p-3"
                     style="background-color: #e9ecef;">
                    <div class="card-body">
                        <div class="d-flex flex-column justify-content-between align-items-top">
                            <div class="d-flex flex-column">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div>
                                        {% if ticket.is_transfer_pending %}
                                            <span class="text-start text-black badge bg-warning">Invitacion pendiente a <br><strong>{{ ticket.transferring_to }}</strong> </span>
                                        {% else %}
                                            <span class="badge bg-danger mb-2">Sin asignar</span>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="m-4 pt-2 border rounded shadow-sm bg-white">
                                <div class="small fw-bold text-black">
                                    {{ event.name }}{{ ticket.emoji }}</div>
                                <span class="badge"
                                      style="background-color: #{{ ticket.ticket_color }}">{{ ticket.ticket_type }}</span>

                                <div class="d-flex flex-column justify-content-center m-4">
                                    <img src="{% static 'img/logo_black.png' %}" alt="Fuego Austral"/>
                                    <p class="mb-0 small"> Bono para transferir</p>
                                </div>
                            </div>

                            <div class="d-flex flex-row justify-content-end gap-2"
                                 style="min-width: 180px">
                                {% if not has_assigned_tickets %}
                                    <a class="btn btn-sm btn-success text-white text-decoration-none">Asignarmelo</a>
                                {% endif %}

                                {% if ticket.is_transfer_pending %}
                                    <a class="btn btn-sm btn-danger text-white text-decoration-none"
                                       onclick="cancelTicketTransfer('{{ ticket.key }}')">Cancelar
                                        invitación</a>
                                {% else %}
                                    <button class=" btn btn-sm btn-warning text-decoration-none"
                                            data-bs-toggle="modal"
                                            data-bs-target="#transferModal"
                                            onclick="setTransferTicketId('{{ ticket.key }}')">Transferir
                                    </button>
                                {% endif %}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>

<div class="modal fade" id="transferModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="transferModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="transferModalLabel">Transferir Bono</h5>
            </div>
            <div class="modal-body">
                <div id="transferForm">
                    <div class="alert alert-warning text-start" role="alert">
                        <strong>¡Atención!</strong>
                        Si el destinatario no tiene cuenta en FA, se enviara una invitacion pero la transferencia no
                        estara completa <strong>hasta que no se cree su cuenta.</strong>
                    </div>
                    <div class="mb-3 form-label text-start d-flex flex-column">
                        <label for="recipient-email" class="form-label">Correo Electrónico del Destinatario</label>
                        <input type="email" class="form-control" id="recipient-email" placeholder="nombre@ejemplo.com">
                        <div class="invalid-feedback">
                            Por favor, ingresa un correo electrónico válido.
                        </div>
                    </div>
                    <div class="d-flex justify-content-between">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-primary" onclick="confirmTransfer()">Confirmar</button>
                    </div>

                </div>
                <div id="loadingSpinner" class="flex-column justify-content-center align-items-center"
                     style="display: none;">

                    <div class="spinner-border text-primary" role="status">
                    </div>
                    <p class="my-4">Enviando...</p>
                </div>
                <div id="transferSuccessMessage" style="display: none;">
                    <div class="alert alert-success">
                    <h5>¡Felicidades!</h5>
                    <p>El bono ha sido transferido con éxito.</p>
                    <button type="button" class="btn btn-primary" onclick="refreshPage()">Continuar</button>
                    </div>
                </div>
                <div id="transferPendingMessage" style="display: none;">
                    <div class="alert alert-warning">
                        <h5>¡Atencion!</h5>
                        <p class="mb-2">Se envio una invitacion a
                            <strong id="invitation-email"></strong>.
                            Hasta que no se cree su cuenta, la
                            transferencia no estara completa.</p>
                    </div>
                    <button type="button" class="btn btn-primary" onclick="refreshPage()">Continuar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    let currentTicketKey = null;

    function setTransferTicketId(ticketId) {
        currentTicketKey = ticketId;
    }

    function validateEmail(email) {
        const re = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
        return re.test(email);
    }

    async function confirmTransfer() {
        const emailInput = document.getElementById('recipient-email');

        const email = emailInput.value;

        if (!validateEmail(email)) {
            emailInput.classList.add('is-invalid');
            return;
        } else {
            emailInput.classList.remove('is-invalid');
        }
        // Show loading spinner
        document.getElementById('transferForm').style.display = 'none';
        document.getElementById('loadingSpinner').style.display = 'flex';

        try {
            const response = await fetch('{% url 'transfer_ticket' %}', {  // Replace with your actual server endpoint
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}',

                },
                body: JSON.stringify({
                    ticket_key: currentTicketKey,
                    email: email
                })
            });

            if (response.ok) {
                document.getElementById('loadingSpinner').style.display = 'none';
                const responseBody = await response.json()

                if (responseBody.destination_user_exists) {
                    document.getElementById('transferSuccessMessage').style.display = 'block';
                } else {
                    document.getElementById('invitation-email').innerHTML = email;
                    document.getElementById('transferPendingMessage').style.display = 'block';

                }
            } else {
                alert('Error en la transferencia. Por favor, inténtalo de nuevo.');
                resetModal();
            }
        } catch (error) {
            console.error('Error during fetch:', error);
            alert('Error en la conexión. Por favor, inténtalo de nuevo.');
            resetModal();
        }
    }

    async function cancelTicketTransfer(ticketKey) {
        if (!confirm('¿Estás seguro de que deseas cancelar la transferencia?')) {
            return;
        }
        try {
            const response = await fetch('{% url 'cancel_ticket_transfer' %}', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}',

                },
                body: JSON.stringify({
                    ticket_key: ticketKey
                })
            });

            if (response.ok) {
                refreshPage();
            } else {
                alert('Error al cancelar la transferencia. Por favor, inténtalo de nuevo.');
            }
        } catch (error) {
            console.error('Error during fetch:', error);
            alert('Error en la conexión. Por favor, inténtalo de nuevo.');
        }
    }

    function refreshPage() {
        location.reload();
    }

    function resetModal() {
        document.getElementById('transferForm').style.display = 'block';
        document.getElementById('loadingSpinner').style.display = 'none';
        document.getElementById('congratsMessage').style.display = 'none';
        document.getElementById('recipient-email').classList.remove('is-invalid');
        document.getElementById('recipient-email').value = '';
    }

    function filterTickets(filter, btn) {
        const tickets = document.querySelectorAll('.ticket-card');
        const buttons = document.querySelectorAll('.btn-group .btn');

        tickets.forEach(ticket => {
            if (filter === 'all') {
                ticket.style.display = 'block';
            } else if (filter === 'pending' && ticket.classList.contains('pending')) {
                ticket.style.display = 'block';
            } else if (filter === 'not-pending' && ticket.classList.contains('not-pending')) {
                ticket.style.display = 'block';
            } else {
                ticket.style.display = 'none';
            }
        });

        buttons.forEach(button => {
            // Reset all buttons to outlined style
            if (button.id === 'btn-all') {
                button.classList.add('btn-outline-primary');
                button.classList.remove('btn-primary');
            } else if (button.id === 'btn-pending') {
                button.classList.add('btn-outline-warning');
                button.classList.remove('btn-warning');
            } else if (button.id === 'btn-not-pending') {
                button.classList.add('btn-outline-danger');
                button.classList.remove('btn-danger');
            }
        });

        if (filter === 'all') {
            btn.classList.remove('btn-outline-primary');
            btn.classList.add('btn-primary');
        } else if (filter === 'pending') {
            btn.classList.remove('btn-outline-warning');
            btn.classList.add('btn-warning');
        } else if (filter === 'not-pending') {
            btn.classList.remove('btn-outline-danger');
            btn.classList.add('btn-danger');
        }
    }
</script>
