{% extends "../tickets/base.html" %}
{% load socialaccount %}
{% load static %}

{% block content %}
    <div class="d-flex flex-column flex-grow-1 justify-content-center align-items-center pb-4">
        <div class="card p-4" style="max-width: 400px; width: 100%;">
            <h2 class="text-center mb-4">Iniciar sesion</h2>
            <div class="text-center">
                No tenes cuenta? <a href="{% url 'account_signup' %}">Registrate</a>
            </div>
            {% if form.errors %}
                <div class="alert alert-danger mt-3" role="alert">
                    usuario o contraseña incorrectos
                </div>
            {% endif %}
            <form method="post" action="{% url 'account_login' %}" autocomplete="off">
                {% csrf_token %}

                <!-- Dummy fields -->
                <input type="text" name="dummy" style="display: none;">
                <input type="password" name="dummy_password" style="display: none;">

                <div class="form-group w-100">
                    <label for="id_login">Email</label>
                    <input type="email" class="form-control" id="id_login" name="login" placeholder="Enter your email"
                           autocomplete="email" required>
                </div>

                <div class="form-group w-100">
                    <label for="id_password">Password</label>
                    <input type="password" class="form-control" id="id_password" name="password"
                           placeholder="Enter your password" autocomplete="current-password" required>
                </div>

                <div class="form-group form-check">
                    {{ form.remember_me }}
                    {{ form.remember_me.label_tag }}
                </div>

                <button type="submit" class="btn btn-primary btn-block">Login</button>
            </form>


            <div class="text-center mt-2">
                <a href="{% url 'account_reset_password' %}">Olvidaste tu contraseña?</a>
            </div>

            <div class="d-flex align-items-center my-3">
                <div class="flex-grow-1 border-top" style="border-color: #C3B59F; border-style: solid"></div>
                <span class="mx-3">o</span>
                <div class="flex-grow-1 border-top" style="border-color: #C3B59F;border-style: solid"></div>
            </div>


            <a href="{% provider_login_url 'google' %}" class="btn d-flex align-items-center justify-content-center"
               style="background-color: white; border: 1px solid #ccc; color: #333; text-decoration: none; transition: background-color 0.3s, border-color 0.3s, color 0.3s;"
               onmouseover="this.style.backgroundColor='#f8f9fa';  this.style.color='#000';"
               onmouseout="this.style.backgroundColor='white';  this.style.color='#333';">
                <img src="{% static 'img/google.png' %}" alt="Google" class="mr-2"
                     style="width: 20px; height: 20px;">
                <span>Inicia sesión con Google</span>
            </a>


        </div>
    </div>
{% endblock %}
