{% extends "../tickets/base.html" %}
{% load static %}

{% block content %}
    <div class="d-flex flex-column flex-grow-1 justify-content-center align-items-center pb-4">
        <div class="card p-4" style="max-width: 400px; width: 100%;">
            <h2 class="text-center mb-4">Contraseña Restablecida</h2>

            <div class="alert alert-success" role="alert">
                Tu contraseña ha sido restablecida exitosamente. Puedes ahora <a href="{% url 'account_login' %}">iniciar sesión</a> con tu nueva contraseña.
            </div>

            <div class="text-center mt-3">
                <a href="{% url 'account_login' %}" class="btn btn-primary">Ir al inicio de sesión</a>
            </div>
        </div>
    </div>
{% endblock %}
