{% extends "../tickets/base.html" %}
{% load static %}

{% block content %}
    <div class="d-flex flex-column flex-grow-1 justify-content-center align-items-center pb-4">
        <div class="card p-4" style="max-width: 400px; width: 100%;">
            <h2 class="text-center mb-4">Restablecer Contraseña</h2>

            <div class="text-center mb-4">
                Ingresa tu dirección de correo electrónico para recibir un enlace de restablecimiento de contraseña.
            </div>

            {% if form.errors %}
                <div class="alert alert-danger mt-3" role="alert">
                    {% for field in form %}
                        {% if field.errors %}
                            {% for error in field.errors %}
                                <div>{{ error }}</div>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                    {% if form.non_field_errors %}
                        <div>
                            {% for error in form.non_field_errors %}
                                <div>{{ error }}</div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            {% endif %}

            <form method="post" action="{% url 'account_reset_password' %}">
                {% csrf_token %}
                <div class="form-group w-100">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Introduce tu correo electrónico" required>
                </div>

                <button type="submit" class="btn btn-primary btn-block mt-3">Enviar enlace de restablecimiento</button>
            </form>

            <div class="text-center mt-3">
                <a href="{% url 'account_login' %}">Regresar al inicio de sesión</a>
            </div>
        </div>
    </div>
{% endblock %}
