{% extends "../tickets/base.html" %}
{% load account %}

{% block content %}
    <div class="d-flex flex-column justify-content-center align-items-center flex-grow-1 my-5">
        <div class="text-center p-4 bg-light border rounded shadow-sm">
            <h4 class="mb-4"> ¡Se te han asignado nuevos bonos de Fuego Austral! 🎟️</h4>

            <p class="mb-4">
                Para ver tus bonos, entra a mis bonos!
            </p>
            <a class="btn btn-danger mx-2 text-white text-decoration-none" href="{% url 'my_tickets' %}">
                Ir a mis bonos
            </a>
        </div>
    </div>
{% endblock %}
