{% extends "../tickets/base.html" %}

{% block content %}
    <div class="d-flex flex-column justify-content-center align-items-center flex-grow-1 my-5">
        <div class="text-center p-4 bg-light border rounded shadow-sm">
            <h2 class="mb-4">Verifique su dirección de correo electrónico</h2>
            <p>
                Le hemos enviado un correo electrónico para su verificación. Siga el enlace proporcionado para finalizar el
                proceso de registro. Si no ves el correo electrónico de verificación en tu bandeja de entrada principal,
                comprueba tu carpeta de correo no deseado.
            </p>
        </div>
    </div>
{% endblock %}
