{% extends "../tickets/base.html" %}
{% load account %}

{% block content %}
    <div class="d-flex flex-column justify-content-center align-items-center flex-grow-1 my-5">
        <div class="text-center p-4 bg-light border rounded shadow-sm">
            <h2 class="mb-4">Cuenta verificada 🎉</h2>
            <p>
                Ahora puedes iniciar sesión en tu cuenta para contuar el proceso de registro.
            </p>

            <a class="btn btn-primary mx-2"
               href="{% url 'account_login' %}"
               style="color: #ffffff; text-decoration: none;"
               onmouseover="this.style.color='#007bff';"
               onmouseout="this.style.color='#ffffff';">Iniciar sesión</a>
        </div>
    </div>
{% endblock %}
