<dl>
  <dt>Nombre</dt>
  <dd>{{ person.first_name }} {{ person.last_name }}</dd>
</dl>
<dl>
  <dt>Teléfono</dt>
  <dd>{{ person.phone }}</dd>
</dl>
<dl>
  <dt>Email</dt>
  <dd><a href="mailto:{{ person.email }}">{{ person.email }}</a></dd>
</dl>
<dl>
  <dt>DNI</dt>
  <dd>{{ person.dni }}</dd>
</dl>
{% if event.has_volunteers and person.volunteer %}
<dl>
  <dt>Voluntario</dt>
  <dd>
      {{ person.get_volunteer_display }}
      {% if person.volunteer_ranger %} <br />Ranger{% endif %}
      {% if person.volunteer_transmutator %} <br />Transmutador{% endif %}
      {% if person.volunteer_umpalumpa %} <br />CAOS{% endif %}
  </dd>
</dl>
{% endif %}
