{% extends "../tickets/base.html" %}
{% load static %}

{% block content %}
    <div class="d-flex flex-column flex-grow-1 justify-content-center align-items-center pb-4">
        <div class="card p-4" style="max-width: 400px; width: 100%;">
            <h2 class="text-center mb-4">Cambiar la contraseña</h2>

            <!-- Menu links -->
            <div class="text-center mb-4">
                <a href="{% url 'account_login' %}" class="btn btn-link">Iniciar sesión</a>
                <span>|</span>
                <a href="{% url 'account_signup' %}" class="btn btn-link">Registrarse</a>
                <span>|</span>
                <a href="{% url 'account_reset_password' %}" class="btn btn-link">Cambiar la contraseña</a>
            </div>

            <!-- Password change form -->
            {% if form.errors %}
                <div class="alert alert-danger mt-3" role="alert">
                    {{ form.non_field_errors }}
                </div>
            {% endif %}
            <form method="post" action="{% url 'account_change_password' %}">
                {% csrf_token %}

                <div class="form-group w-100">
                    <label for="old_password">Contraseña actual</label>
                    <input type="password" class="form-control" id="old_password" name="old_password" placeholder="Introduce tu contraseña actual">
                </div>

                <div class="form-group w-100">
                    <label for="new_password1">Nueva contraseña</label>
                    <input type="password" class="form-control" id="new_password1" name="new_password1" placeholder="Introduce tu nueva contraseña">
                </div>

                <div class="form-group w-100">
                    <label for="new_password2">Nueva contraseña (de nuevo)</label>
                    <input type="password" class="form-control" id="new_password2" name="new_password2" placeholder="Repite tu nueva contraseña">
                </div>

                <div class="form-text text-muted">
                    <ul>
                        <li>Su contraseña no puede ser similar a otros componentes de su información personal.</li>
                        <li>Su contraseña debe contener por lo menos 8 caracteres.</li>
                        <li>Su contraseña no puede ser una contraseña usada muy comúnmente.</li>
                        <li>Su contraseña no puede estar formada exclusivamente por números.</li>
                    </ul>
                </div>

                <button type="submit" class="btn btn-primary btn-block mt-3">Cambiar la contraseña</button>
            </form>
        </div>
    </div>
{% endblock %}
