{% extends "./base.html" %}
{% load static %}
{% block extrahead %}
    {{ block.super }}
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/intl-tel-input@24.2.0/build/css/intlTelInput.css"
          integrity="sha384-josBdHR9a6DDApvQzVz46RUq9U6/iPErv/hIpfkLHxxLLfPOhgvCWrrRi6Ufvbgf"
          crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/intl-tel-input@24.2.0/build/js/intlTelInput.min.js"
            integrity="sha384-6Z2vPsfhcSSIc6aQuBuj8XsgzVLnrlNXrlA/OfTiadr8Pcw3xfho2s4fxWX+beqn"
            crossorigin="anonymous"></script>
{% endblock extrahead %}
{% block innercontent %}
    <div class="row justify-content-center">
        <div class="col-md-7">
            <div class="card text-center">
                <div class="card-body d-flex justify-content-between flex-column align-items-center empty-results gap-3">
                    <div>Paso 2 de 3</div>
                    <h1>Verificá tu teléfono</h1>
                    <form method="post" id="profileForm">
                        {% csrf_token %}
                        <div class="form-group d-flex flex-column w-100 gap-3">
                            {% if form.non_field_errors %}
                                <div class="alert alert-danger" role="alert">
                                    {% for error in form.non_field_errors %}{{ error }}{% endfor %}
                                </div>
                            {% endif %}
                            <!-- Phone Input -->
                            <label for="phone">
                                Teléfono
                                <br />
                                <input type="tel"
                                       id="phone"
                                       class="phone-input"
                                       name="phone_input"
                                       style="width: 100%"
                                       value="{{ form.phone.value|default:profile.phone }}"
                                       {% if code_sent %}disabled{% endif %}>
                                <!-- Disable if code sent -->
                                {% if form.phone.errors %}
                                    <div class="text-danger">
                                        {% for error in form.phone.errors %}{{ error }}{% endfor %}
                                    </div>
                                {% endif %}
                            </label>
                            {% if code_sent %}
                                <!-- Verification Code Input -->
                                <label class="mt-3" for="code">
                                    Código de verificación
                                    <input type="text"
                                           class="form-control"
                                           id="code"
                                           name="code"
                                           placeholder="Ingresa el código"
                                           value="{{ form.code.value|default:'' }}">
                                    {% if form.code.errors %}
                                        <div class="text-danger">
                                            {% for error in form.code.errors %}{{ error }}{% endfor %}
                                        </div>
                                    {% endif %}
                                </label>
                                {% if error_message %}<div class="text-danger mt-2">{{ error_message }}</div>{% endif %}
                                <!-- Verify Code Button -->
                                <input type="hidden" name="verify_code" value="1">
                                <button id="verifyButton"
                                        type="submit"
                                        name="verify_code"
                                        class="btn btn-primary mt-3">Verificar código</button>
                                <div class="text-center mt-2">
                                    <a href="#" onclick="resendCode()" class="text-primary">Reenviar código</a>
                                </div>
                            {% else %}
                                <!-- Send Code Button -->
                                <input type="hidden" name="send_code" value="1">
                                <button id="sendButton"
                                        type="submit"
                                        name="send_code"
                                        class="btn btn-primary">Enviar código de verificación</button>
                            {% endif %}
                            <!-- Hidden input to store the full international phone number -->
                            <input type="hidden" id="fullPhoneNumber" name="phone">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        const input = document.querySelector("#phone");
        const iti = window.intlTelInput(input, {
            utilsScript: "https://cdn.jsdelivr.net/npm/intl-tel-input@24.2.0/build/js/utils.js",
            initialCountry: "AR",
            customPlaceholder: function (selectedCountryPlaceholder, selectedCountryData) {
                if (selectedCountryData.iso2 === "ar") {
                    return "11 1234 5678";
                }
                return selectedCountryPlaceholder;
            },
        });

        document.getElementById('profileForm').addEventListener('submit', function (event) {
            document.getElementById('fullPhoneNumber').value = iti.getNumber();

            const sendButton = document.getElementById('sendButton');
            const verifyButton = document.getElementById('verifyButton');

            if (sendButton && sendButton.name === 'send_code') {
                sendButton.disabled = true;
                sendButton.innerHTML = 'Enviando...';
            }

            if (verifyButton && verifyButton.name === 'verify_code') {
                verifyButton.disabled = true;
                verifyButton.innerHTML = 'Verificando...';
            }
        });

        function resendCode() {
            const sendCodeInput = document.querySelector('input[name="verify_code"]');
            if (sendCodeInput) {
                sendCodeInput.remove();
            }
            document.getElementById('profileForm').noValidate = true;

            document.getElementById('profileForm').submit();
        }
    </script>
{% endblock %}
