{% extends "./base.html" %}
{% load socialaccount %}
{% load static %}
{% block innercontent %}
    <div class="row justify-content-center">
        <div class="col-md-7">
            <div class="card text-center">
                <div class="card-body d-flex justify-content-between flex-column align-items-center empty-results gap-3">
                    <h1>Iniciar sesión</h1>
                    <div class="text-center mb-3">
                        No tenés cuenta?
                        <a href="{% url 'account_signup' %}" class="text-primary">Registrate</a>
                    </div>
                    <a href="{% provider_login_url 'google' %}"
                       class="btn btn-google w-100 d-flex align-items-center justify-content-center">
                        <img src="{% static 'img/google.png' %}"
                             alt="Google"
                             class="me-2"
                             style="width: 20px;
                                    height: 20px">
                        <span>Inicia sesión con Google</span>
                    </a>
                    <div class="d-flex align-items-center w-100">
                        <div class="flex-grow-1 border-top"
                             style="border-color: #B2B2B2;
                                    border-style: solid 1px"></div>
                        <span class="mx-3">o</span>
                        <div class="flex-grow-1 border-top"
                             style="border-color: #B2B2B2;
                                    border-style: solid 1px"></div>
                    </div>
                    <form method="post" action="{% url 'account_login' %}" autocomplete="off">
                        {% csrf_token %}
                        <div class="form-group d-flex flex-column w-100 gap-3">
                            {% if form.errors %}
                                <div class="alert alert-danger" role="alert">Usuario o contraseña incorrectos.</div>
                            {% endif %}
                            <input type="email"
                                   class="form-control"
                                   id="id_login"
                                   name="login"
                                   placeholder="Email"
                                   required
                                   autocomplete="off">
                            <input type="password"
                                   class="form-control"
                                   id="id_password"
                                   name="password"
                                   placeholder="Contraseña"
                                   autocomplete="current-password"
                                   required>
                            {{ form.remember_me }}
                            {{ form.remember_me.label_tag }}
                            <button type="submit" class="btn btn-primary">Ingresar</button>
                        </div>
                        <div class="text-center mt-2">
                            <a class="text-primary" href="{% url 'account_reset_password' %}">Olvidé mi contraseña</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}
