{% extends "./base.html" %}
{% load static %}
{% block innercontent %}
    <div class="row justify-content-center">
        <div class="col-xl-7">
            <div class="card text-center">
                <div class="card-body d-flex justify-content-between flex-column align-items-center main-card-spacing gap-3">
                    <h1>Correo de Recuperación Enviado</h1>
                    <div class="alert alert-success text-center mb-3">
                        Se ha enviado un enlace para restablecer tu contraseña a la dirección de correo electrónico que proporcionaste. Por favor, revisa tu bandeja de entrada y sigue las instrucciones del correo para restablecer tu contraseña.
                    </div>
                    <div class="text-center">
                        <a class="text-primary" href="{% url 'account_login' %}">Regresar al inicio de sesión</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}
{% block content %}
    <div class="d-flex flex-column flex-grow-1 justify-content-center align-items-center pb-4">
        <div class="card p-4" style="max-width: 400px; width: 100%;">
            <h2 class="text-center mb-4">Correo de Restablecimiento Enviado</h2>
            <div class="alert alert-success" role="alert">
                Se ha enviado un enlace para restablecer tu contraseña a la dirección de correo electrónico que proporcionaste. Por favor, revisa tu bandeja de entrada y sigue las instrucciones del correo para restablecer tu contraseña.
            </div>
            <div class="text-center mt-3">
                <a href="{% url 'account_login' %}" class="btn btn-primary">Regresar al inicio de sesión</a>
            </div>
        </div>
    </div>
{% endblock %}
