{% extends "./base.html" %}
{% load static %}
{% block innercontent %}
    <div class="row justify-content-center">
        <div class="col-xl-7">
            <div class="card text-center">
                <div class="card-body d-flex justify-content-between flex-column align-items-center main-card-spacing gap-3">
                    <h1>Restablecer Contraseña</h1>
                    <div class="text-center mb-3">
                        Ingresa tu dirección de correo electrónico para recibir un enlace de restablecimiento de contraseña.
                    </div>
                    <form method="post" autocomplete="off">
                        {% csrf_token %}
                        <div class="form-group d-flex flex-column w-100 gap-3">
                            {% if form.errors %}
                                <div class="alert alert-danger" role="alert">
                                    {% for field in form %}
                                        {% if field.errors %}
                                            {% for error in field.errors %}<div>{{ error }}</div>{% endfor %}
                                        {% endif %}
                                    {% endfor %}
                                    {% if form.non_field_errors %}
                                        <div>
                                            {% for error in form.non_field_errors %}<div>{{ error }}</div>{% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                            {% endif %}
                            <input type="password"
                                   class="form-control"
                                   id="password1"
                                   name="password1"
                                   placeholder="Nueva contraseña"
                                   required>
                            <input type="password"
                                   class="form-control"
                                   id="password2"
                                   name="password2"
                                   placeholder="Nueva contraseña (de nuevo)"
                                   required>
                            <button type="submit" class="btn btn-primary">Restablecer contraseña</button>
                        </div>
                        <div class="text-center mt-2">
                            <a class="text-primary" href="{% url 'account_login' %}">Regresar al inicio de sesión</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
