{% extends "./base.html" %}
{% load static %}
{% block innercontent %}
    <div class="row justify-content-center">
        <div class="col-xl-7">
            <div class="card text-center">
                <div class="card-body d-flex justify-content-between flex-column align-items-center main-card-spacing gap-3">
                    <h1>¡Se te han asignado nuevos bonos de Fuego Austral! 🎟️️</h1>
                    <div class="text-center mb-3">
                        Para ver tus bonos, entra a mis bonos.
                    </div>
                    <div class="text-center">
                        <a class="btn btn-primary" href="{% url 'my_ticket' %}">Ir a mis bonos</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
