{% extends "./base.html" %}
{% load static %}
{% block innercontent %}
    <div class="row justify-content-center">
        <div class="col-xl-7">
            <div class="main-card text-center d-flex flex-column gap-3">
                <h1>Verifica tu Email</h1>
                <div>
                    Enviamos un correo para su verificación.<br/>
                    Seguí las instrucciones para finalizar el proceso de registro.<br/><br/>

                    Si no ves el correo en tu bandeja de entrada,<br/>
                    comprueba tu carpeta de spam / correo no deseado.
                </div>
            </div>
        </div>
    </div>
{% endblock %}
