{% extends "./base.html" %}
{% load static %}
{% block innercontent %}
    <div class="row justify-content-center">
        <div class="col-md-7">
            <div class="card text-center">
                <div class="card-body d-flex justify-content-between flex-column align-items-center main-card-spacing gap-3">
                    <h1>Cuenta verificada 🎉</h1>
                    <div class="alert alert-success text-center">
                        Ahora puedes iniciar sesión en tu cuenta para continuar el proceso de registro.
                    </div>
                    <div class="text-center">
                        <a class="text-primary" href="{% url 'account_login' %}">Ir al inicio de sesión</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
