
/* Typography */

html {
  font-size: 16px !important;
}

body {
  background: #f8f7f4;
  text-align: center;
  color: #0d0d21;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Rubik', sans-serif !important;
  font-weight: 100;
}

h1 {
  font-size: 4.2rem;
  font-weight: 100;
  line-height: normal;
}

h2 {
  font-size: 2rem;
  font-weight: 100;
}

h2 .icon {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.small-title {
  font-size: 1.625rem;
  font-style: normal;
  line-height: 165.2%; /* 2.6845rem */
  background-color: #eadef9;
}

p {
  font-size: 1.2rem;
  line-height: 1.7rem;
}

b {
  font-weight: 400;
}

p a {
  font-weight: 400;
}

.text-white {
  color: white;
}

/* Layout */

h1 {
  max-width: 900px;
}

h2,
p {
  max-width: 800px;
}

h1,
h2,
p,
img.full-width {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4rem !important;
}

.to-left {
  text-align: left !important;
}

.centered {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: fit-content;
  padding-left: 1rem;
  padding-right: 1rem;
}

.full-alert {
  width: 100%;
  background: #fee0d1;
  color: red;
  padding: 5rem 0;

  p {
    margin-bottom: 0 !important;
  }
}

.no-bottom-margin {
  margin-bottom: 0 !important;
}

.section {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.container-fluid {
  padding: 0 !important;
}

.two-columns {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  column-gap: 40px;
  text-align: left !important;
}

.two-columns .column {
}

.boxes {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.box {
  max-width: 22rem;
  min-width: 22rem;
  aspect-ratio: 1;
  background-color: #f8f7f4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 1.8rem;
  border-radius: 40px;
  gap: 1rem;
}

.box .button {
  background-color: black;
  border-radius: 40px;
  line-height: 1rem;
  text-decoration: none;
  font-size: 1rem;
  padding: 1.0625rem 4.5rem;
}

.box p,
.box h2 {
  margin-bottom: 0 !important;
}

.box .icon {
  font-size: 1.6rem;
}

img.full-width {
  max-height: 19rem;
}

.white-bg {
  background-color: white;
}

.pb-7 {
  padding-bottom: 7rem;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  h1 {
    font-size: 3.8rem;
  }

  .site-main {
    padding: 0 .5rem !important;
  }

  .box {
    max-width: 21rem;
    min-width: 21rem;
  }

  .whire-bg,
  .full-alert {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    width: calc(100% + 1rem);
    margin-left: -0.5rem;
  }

  img.full-width {
    min-width: calc(100% + 1rem);
    margin-left: -0.5rem;
  }
}

.site-main {
  margin-left: auto !important;
  margin-right: auto !important;
}

@media screen and (max-width: 767px) {
  .whatis p {
    font-size: 20px;
    line-height: 1.8em;
  }

  .site-branding {
    float: left;
    width: initial;
  }

  .main-navigation-wrap {
    top: -100px;
  }
}

.emoji {
  font-size: 2rem;
}

.list-group .list-group-item {
  text-decoration: none;
  padding: 2rem;
}

.list-group .list-group-item p {
  margin: 0;
}

.list-group .list-group-item .emoji {
  margin-top: -1.5rem;
  margin-right: -1rem;
}

.list-group     .card {
  margin-bottom: 1rem;
}

.form-group {
  margin: 0.5rem 0 1rem 0;
  text-align: left;
}

.ticket-form {
  margin: 1rem 0 2rem 0;
}

.ticket-form .delete-row {
  color: #503c3a;
  height: 2.5rem;
}

.form-control {
  padding-left: 0.75rem !important;
  background-position: 0.75rem center;
  background-size: 16px;
  background-repeat: no-repeat;
  border: #eeeeee 1px solid;
}

.form-control::placeholder {
  color: #999;
}

dl {
  display: flex;
  justify-content: between;
  margin-bottom: 0.5rem;
}

dl dt {
  width: 6rem;
}

dl dd {
  margin: 0 0 0 1rem;
}

.btn.btn-submit,
.cho-container .mercadopago-button {
  background-color: #503c3a;
  line-height: 1rem;
  color: lighten(#503c3a, 60%);
  font-size: 1.4rem;
  padding: 1rem;
  border-radius: 0.125rem;
  cursor: pointer;
  border: 0;
  width: 100%;
}
