{% extends 'emails/base.html' %}
{% block subject %}Tu orden para Lo que el Fuego nos dejó ha sido confirmada{% endblock %}
{% block title %}
    Lo que el Fuego nos dejó
{% endblock %}
{% block content %}
<p>
    Tu orden para <b>lo que el Fuego nos dejó</b> ha sido:
</p>

<p><b>CONFIRMADA</b></p>

<p>
En breve recibirán los bonos contribución de ingreso a los correos cargados.
<br />
Cualquier problema que tengas, escribinos a: <a href="mailto:bonos@fuegoaustral.org">bonos@fuegoaustral.org</a>
</p>

{% endblock %}
