{% extends 'emails/base.html' %}
{% block subject %}Tu orden para {{ event.name|safe }} ha sido confirmada{% endblock %}
{% block title %}
    ¡TODO EN ORDEN!
{% endblock %}
{% block content %}
<p>
    Tu Orden de Compra <b>#{{ order.id }}</b> para <b>{{ event.name|safe }}</b> ha sido:
</p>

<p><b>CONFIRMADA</b></p>

<p>En breve recibirán los bonos contribución de ingreso a los correos cargados. Cualquier problema que tengas, escribinos a: <a href="mailto:bonos@fuegoaustral.org">bonos@fuegoaustral.org</a></p>

<p><b>ESTE EMAIL NO ES UN BONO CONTRIBUCIÓN DE INGRESO</b></p>

<p>"La experiencia será lo que hagamos de ella".</p>

{% endblock %}
