{% extends 'emails/base.html' %}
{% block subject %}Ya tenés tu bono contribución para Fuego Austral 2022 eOs{% endblock %}
{% block title %}
    ¡TODO LISTO!
{% endblock %}
{% block content %}
<p>
    Ya tenés tu bono contribución de ingreso para: <b> Fuego Austral 2022 eOs</b>
</p>

<p>La locación exacta del evento se te informará por esta vía 15 días antes del inicio. Recordá chequear spam y promociones.</p>

<p>Cualquier problema que tengas con tu bono, podés escribirnos a <a href="mailto:bonos@fuegoaustral.org">bonos@fuegoaustral.org</a></p>p>

<p>Te acercamos, una vez más, la <a href="http://fuegoaustral.org/prepararse/">guía de supervivencia</a> de Fuego Austral y el cronograma para <a href="http://fuegoaustral.org/el-evento/">participar del evento</a> con otras propuestas.</p>

<p>"La experiencia será lo que hagamos de ella".</p>

{% comment %}
    {% include 'emails/partials/btn.html' with label='Ver confirmación' href=url base_url=base_url %}
{% endcomment %}

{% endblock %}
