{% extends 'emails/base.html' %}
{% block subject %}¡Ya tenés tu bono para Lo que el Fuego nos dejó!{% endblock %}
{% block title %}
Ya tenés tu bono para:<br />
<b>Lo que el Fuego nos dejó</b><br />
{% endblock %}
{% block content %}

<p>
Bienvenido a Lo que el fuego nos dejó, un evento de La Sede y la Comunidad Fuego Austral.
</p>
<p>
Estamos muy content@s de que seas parte.
</p>
<p>
<strong>Te esperamos con tu vaso</strong> y muchas ganas de participar.
</p>
<p>
Vas a poder disfrutar un montón de actividades, música, barra y muchas sorpresas más.
</p>
<p>
Sábado 14/05 de 11:00 a 23:00hs. en La Sede
<br />
Paz Soldán 5150, CABA.
</p>
<p>
Niños menores de 12 años gratis.
</p>

</br>
</br>

<p>
Ojalá que disfrutes mucho el evento y sigamos compartiendo cosas en el futuro.
</p>
<p>
Como siempre, nos relacionamos con los 10 principios:
</p>

<p class="align-center">
    <img src="https://deprepagos-zappa-static.s3.amazonaws.com/img/principios.png" class="principios" alt="principios">
</p>



<p>
Cualquier problema que tengas con la compra, podés escribirnos a <a href="mailto:bonos@fuegoaustral.org">bonos@fuegoaustral.org</a>
</p>

    {% include 'emails/partials/btn.html' with label='Ver Bono' href=ticket.get_absolute_url domain=domain %}

{% endblock %}
