{% extends 'emails/base.html' %}
{% block subject %}🎟️ ¡Recuerda compartir tus bonos pendientes en Fuego Austral! 🎟️{% endblock %}
{% block title %}
    Recordatorio para Compartir Bonos<br/>
{% endblock %}
{% block content %}
    <p>
        ¡Hola! Queremos recordarte que tienes {{ unsent_ticket.pending_to_share_tickets }} bonos pendientes por compartir. Han pasado {{ unsent_ticket.max_days_ago }} días desde que recibiste estos bonos y aún no los has compartido.
    </p>

    <p>
        Asegúrate de compartirlos con tus amigos antes del {{ current_event.transfers_enabled_until|date:"d/m" }} para que todos puedan disfrutar de esta experiencia.
    </p>

    {% include 'emails/partials/btn.html' with label='Compartir bonos' href=share_tickets_link domain=domain %}

    <p>
        Si necesitas ayuda o tienes alguna pregunta, no dudes en contactarnos a través de <a href="mailto:bonos@fuegoaustral.org">bonos@fuegoaustral.org</a> o chatea con nosotros directamente desde nuestra web.
    </p>

    <p>
        ¡Vamos a asegurarnos de que todos puedan disfrutar al máximo de Fuego Austral!
    </p>

    <table style="width: 100%; max-width: 600px; border-collapse: collapse; margin: 0 auto; background-color: #f8d7da; border: 1px solid #f5c6cb; border-radius: 4px;">
        <tr>
            <td style="padding: 15px; color: #721c24; text-align: center; font-family: Arial, sans-serif; font-size: 16px;">
                <p style="margin: 0; padding: 0; font-weight: bold;">
                    LA REVENTA CON SOBREPRECIOS IMPLICARÁ LA CANCELACIÓN DEL BONO CONTRIBUCIÓN
                </p>
            </td>
        </tr>
    </table>
{% endblock %}
