{% extends '../../tickets/barbu_base.html' %}
{% block page_title %}
    Mi Perfil
{% endblock page_title %}
{% block menu %}
    <li class="nav-item">
        <a class="nav-link{% if nav_primary == "tickets" %} active{% endif %}"
           href="{% url "mi_fuego" %}">Bonos</a>
    </li>
    <li class="nav-item">
        <a class="nav-link{% if nav_primary == "volunteering" %} active{% endif %}{% if not my_ticket %} disabled{% endif %}"
           href="{% if my_ticket %}{% url 'volunteering' %}{% endif %}">Voluntariado</a>
    </li>
{% endblock menu %}
{% block alerts %}
    {% if has_unassigned_tickets or has_transfer_pending %}
        {% if event.transfer_period %}
            <div class="container-fluid">
                <div class="container">

                    <div class="alert alert-danger text-start mt-2">
                        <div class="d-flex align-items-center gap-5 flex-wrap flex-sm-nowrap justify-content-between">
                            <div>
                                Tenés
                                {% if has_unassigned_tickets %}
                                    bonos sin asignar,
                                    {% if has_transfer_pending %}y{% endif %}
                                {% endif %}
                                {% if has_transfer_pending %}
                                    {% if not has_unassigned_tickets %}bonos{% endif %}
                                    que todavía no fueron aceptados,
                                {% endif %}
                                acordate que <strong>
                                tenés tiempo para transferirlos hasta el
                                {{ event.transfers_enabled_until|date:'d/m' }}
                            </strong>.
                            </div>
                            <div>
                                <a class="btn btn-secondary text-nowrap"
                                   href="{% url "transferable_tickets" %}">Bonos para transferir</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        {% endif %}
    {% endif %}
{% endblock alerts %}
{% block submenu %}
   {% if owns_ticket %}
    <li class="nav-item">
        <a class="nav-link{% if nav_secondary == "my_ticket" %} active{% endif %}"
           href="{% url 'my_ticket' %}"
           >
            Mi Bono 
            <i data-bs-toggle="tooltip" 
            data-bs-placement="top" 
            data-bs-delay='{"show":0, "hide":100}'
            data-bs-animation="false"
            title="Este es tu bono. Hay muchos como el, pero este es el tuyo. Los otros son para compartir. Tu bono te permite el acceso a fuego austral. Cada participante debe tener su bono en su cuenta. Si compraste bonos para otras personas, asegurate de transferirselos"
            class="fas fa-info-circle z-index-1000 mx-4"></i>
        </a>
       
    </li>
    {% endif %}
    {% if holding_tickets > 0 %}
        <li class="nav-item">
            <a class="nav-link{% if nav_secondary == "transferable_tickets" %} active{% endif %}"
               href="{% url 'transferable_tickets' %}">Bonos para transferir ({{ holding_tickets }}) </a>
        </li>
    {% endif %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
          const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]');
          const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl));
        });
      </script>
{% endblock submenu %}
