{% extends 'mi_fuego/my_tickets/index.html' %}
{% load static %}
{% block innercontent %}
    <div class="wrapper volunteering">
        <div class="card text-center">
            <div class="card-body d-flex justify-content-between flex-column align-items-center">
                <h1>Quiero ser Voluntario</h1>
                <div>Seleccioná tu(s) rol(es)</div>
                {% if event.volunteer_period %}
                    {% if event.volunteers_enabled_until %}
                        <div class="alert alert-info w-100 my-4">
                            Tenés tiempo para postularte como voluntario hasta el <b>{{ event.volunteers_enabled_until|date:'d/m' }}</b>.
                        </div>
                    {% endif %}
                {% else %}
                        <div class="alert alert-warning w-100 my-4">
                            Finalizó el plazo para postularse como voluntario.
                        </div>
                {% endif %}
                <form class="container" method="POST">
                    <fieldset {% if not event.volunteer_period %}disabled="disabled"{% endif %}>
                    {% csrf_token %}
                    <div class="row justify-content-center">
                        <div class="volunteer-option col-sm-7 d-flex gap-3 align-items-start text-left border-bottom">
                            <div class="checkbox">{{ form.volunteer_ranger }}</div>
                            <div class="d-flex flex-column gap-2">
                                <label for="id_volunteer_ranger">Ranger</label>
                                <div>
                                    Los rangers son aquellos miembros de Fuego
                                    Austral que ayudan a sostener a la
                                    comunidad, se ocupan de cuidar a la gente y
                                    al lugar, y son los encargados de mantener
                                    en pie los 10 principios.
                                </div>
                                <div class="alert alert-secondary alert-sm">
                                    <b>Importante:</b> es condición obligatoria haber
                                    asistido al menos a un evento para ser Ranger.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="volunteer-option col-sm-7 d-flex gap-3 align-items-start text-left border-bottom">
                            <div class="checkbox">{{ form.volunteer_transmutator }}</div>
                            <div class="d-flex flex-column gap-2">
                                <label for="id_volunteer_transmutator">Transmutador</label>
                                <div>
                                    Los transmutadores son el equipo encargado
                                    de recibir a cada persona que ingresa y
                                    darle la bienvenida oficial a nuestra
                                    querida ciudad temporal.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="volunteer-option col-sm-7 d-flex gap-3 align-items-start text-left">
                            <div class="checkbox">{{ form.volunteer_umpalumpa }}</div>
                            <div class="d-flex flex-column gap-2">
                                <label for="id_volunteer_umpalumpa">CAOS</label>
                                <div>
                                    Grupo de tareas estructurales del evento.
                                    Trabajo previo al evento en La Sede, armado
                                    y desarme del evento en la locación.
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if event.volunteer_period %}
                    <div class="row justify-content-center">
                        <div class="col-sm-7 d-flex gap-3 justify-content-center">
                            <a href="." class="btn btn-secondary">Cancelar</a>
                            <button type="submit" class="btn btn-primary">Confirmar</button>
                        </div>
                    </div>
                    {% endif %}
                </fieldset>
                </form>
            </div>
        </div>
    </div>
{% endblock innercontent %}
