{% extends "admin/change_list.html" %}
{% load i18n admin_urls %}

{% block object-tools-items %}
    <li>
        <a href="{% url 'admin:event_tickets_report' %}" class="addlink">
            Reporte de Bonos
        </a>
    </li>
    <li>
        <a href="{% url 'admin:event_pending_transfers' %}" class="addlink">
            Transferencias Pendientes
        </a>
    </li>
    <li>
        <a href="{% url 'admin:event_orders_report' %}" class="addlink">
            Reporte de Ordenes
        </a>
    </li>
    <li>
        <a href="{% url 'admin:event_tickets_sold_report' %}" class="addlink">
            Tickets Vendidos por Evento
        </a>
    </li>
    <li>
        <a href="{% url 'admin:event_ingreso_anticipado_report' %}" class="addlink">
            Reporte de Ingreso Anticipado
        </a>
    </li>
    <li>
        <a href="{% url 'admin:event_late_checkout_report' %}" class="addlink">
            Reporte de Late Checkout
        </a>
    </li>
    {{ block.super }}
{% endblock %}