.site-main {
  margin-left: auto !important;
  margin-right: auto !important; }

h1, h2 {
  text-align: center;
  font-family: 'Amatic SC', 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 60px;
  color: #503C3A; }

.emoji {
  font-size: 2rem; }

.list-group .list-group-item {
  text-decoration: none;
  padding: 2rem; }
  .list-group .list-group-item p {
    margin: 0; }
  .list-group .list-group-item .emoji {
    margin-top: -1.5rem;
    margin-right: -1rem; }

.form-group {
  margin: 0.5rem 0 1rem 0; }

.ticket-form {
  margin: 1rem 0 2rem 0; }
  .ticket-form .delete-row {
    color: #503C3A;
    height: 2.5rem; }

.form-control {
  padding-left: 0.75rem !important;
  background-position: 0.75rem center;
  background-size: 16px;
  background-repeat: no-repeat;
  border: #eeeeee 1px solid; }
  .form-control::placeholder {
    color: #999; }

dl {
  display: flex;
  justify-content: between;
  margin-bottom: 0.5rem; }
  dl dt {
    width: 6rem; }
  dl dd {
    margin: 0 0 0 1rem; }

.btn.btn-submit,
.cho-container .mercadopago-button {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif !important;
  background-color: #503C3A;
  line-height: 1rem;
  color: #e3dad9;
  font-size: 1.4rem;
  padding: 1rem;
  border-radius: 0.125rem;
  cursor: pointer;
  border: 0;
  width: 100%; }

.empty-form {
  display: hidden; }
