.emoji {
    font-size: 2rem;
}

.list-group {
    .list-group-item {
        padding: 2rem;
        p {
            margin: 0;
        }
        .emoji {
            margin-top: -1.5rem;
            margin-right: -1rem;
        }
    }
}