{% load static %}
{% block extrahead %}

    <style>
        .rainbow-border {
            --borderWidth: 1px; /* Set border width to 1px */
            position: relative;
            overflow: hidden;
            padding: 1rem;
            z-index: 1; /* Ensure content is above the borders */
        }

        .rainbow-border:after {
            content: '';
            position: absolute;
            top: calc(-1 * var(--borderWidth));
            left: calc(-1 * var(--borderWidth));
            height: calc(100% + var(--borderWidth) * 2);
            width: calc(100% + var(--borderWidth) * 2);
            background: linear-gradient(45deg,
            #fd004c 16.66%,
            #fe9000 33.33%,
            #fff020 50%,
            #3edf4b 66.66%,
            #3363ff 83.33%,
            #b102b7 100%);
            border-radius: calc(5px + var(--borderWidth));
            z-index: -1;
            animation: animatedgradient 4s linear alternate infinite;
            background-size: 400% 100%;
        }

        @keyframes animatedgradient {
            0% {
                background-position: 0% 50%;
            }
            50% {
                background-position: 100% 50%;
            }
            100% {
                background-position: 0% 50%;
            }
        }

        .rainbow-border .card-body {

            z-index: 1; /* Ensure content is above all borders */
            padding: 1rem;
            position: relative;
        }
    </style>

{% endblock extrahead %}


<div class="d-flex flex-row justify-content-between py-2">
    <h4>Mi bono</h4>
</div>

<div class="d-flex flex-row py-2 gap-2">
    <a class="btn btn-sm btn-danger text-white text-decoration-none" id="unAssignTicket">No voy a ir</a>
    {% if  is_volunteer %}
        <a class="btn btn-sm btn-primary text-white text-decoration-none" data-bs-toggle="modal"
           data-bs-target="#volunteerModal">
            Voluntariados
        </a>
    {% endif %}
</div>

<div class="row justify-content-center">
    {% if  not is_volunteer %}
        <div class="col-lg-8 align-center">
            <div class="alert alert-info text-start ">
                Fuego Austral es un encuentro participativo y todos tenemos un talento para
                aportar a nuestra ciudad temporal. Te invitamos a sumarte al área en la que sabés que podés
                dar lo mejor de vos.
                <br><br>
                <div class="text-center">
                    <a class="btn btn-sm btn-primary text-white text-decoration-none" data-bs-toggle="modal"
                       data-bs-target="#volunteerModal">
                        Quiero ser voluntario
                    </a>
                </div>
            </div>
        </div>
    {% endif %}
    {% if my_ticket %}
        <div class="d-flex flex-column align-items-center">
            <div class="col-lg-3 col-sm-12 col-md-6 mb-4">
                <div class="rounded"
                     style="border : 2px solid #000000;padding:6px;background-color: black;">
                    <div class="shadow rounded bg-black text-white rainbow-border"
                         style="padding: 4px;">
                        <div class="card-body">
                            <div class="d-flex flex-column justify-content-between align-items-top">
                                <div class="d-flex flex-column">
                                </div>
                                <div class="d-flex flex-column align-items-center">
                                    <img src="{% static 'img/logo.svg' %}" alt="Fuego Austral"
                                         width="140"/>
                                </div>
                                <div class="m-2 pt-2 rounded shadow-sm bg-white"
                                     style="border: 2px solid black;">

                                    <div class="small fw-bold text-black">
                                        {{ event.name }}{{ my_ticket.emoji }}</div>
                                    <div>
                                    <span class="badge"
                                          style="background-color: #{{ my_ticket.ticket_color }}">{{ my_ticket.ticket_type }}</span>
                                    </div>
                                    <img src="data:image/png;base64,{{ my_ticket.qr_code }}"
                                         alt="QR Code" width="240px">


                                    <div class="d-flex flex-row justify-content-center gap-2 align-items-center mb-2">
                                        {% if my_ticket.volunteer_transmutator %}
                                            <span class="badge bg-success">Transmutator</span>
                                        {% endif %}
                                        {% if my_ticket.volunteer_ranger %}
                                            <span class="badge" style="background-color: #735b59">Ranger</span>
                                        {% endif %}
                                        {% if my_ticket.volunteer_umpalumpa %}
                                            <span class="badge bg-dark">CAOS</span>
                                        {% endif %}
                                    </div>

                                    <div class="small text-start fw-bold text-black pb-2 px-2"
                                         style="font-size:10px">
                                        {{ user.profile.document_type }} {{ user.profile.document_number }}
                                        <br>
                                        {{ user.first_name }} {{ user.last_name }} <br>
                                        {{ my_ticket.key }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    {% endif %}

</div>

<!-- Modal -->
<div class="modal fade" id="volunteerModal" data-bs-backdrop="static" tabindex="-1"
     aria-labelledby="volunteerModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">

        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="volunteerModalLabel">Selecciona tu rol de voluntario</h5>
            </div>
            <div class="modal-body text-start">
                <form id="volunteerForm">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="Ranger" id="volunteerRanger"
                               {% if my_ticket.volunteer_ranger %}checked{% endif %}>
                        <label class="form-check-label fw-bold" for="volunteerRanger">Ranger</label>
                        <p class="mb-2 small" style="font-size:10px; line-height: inherit;">
                            Los rangers son aquellos miembros de Fuego Austral que ayudan a sostener a la comunidad, se
                            ocupan de cuidar a la gente y al lugar, y son los encargados de mantener en pie los 10
                            principios.
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="Transmutador" id="volunteerTransmutador"
                               {% if my_ticket.volunteer_transmutator %}checked{% endif %}>
                        <label class="form-check-label fw-bold" for="volunteerTransmutador">Transmutador</label>
                        <p class="mb-2 small" style="font-size:10px; line-height: inherit;">
                            Los transmutadores son el equipo encargado de recibir a cada persona que ingresa y darle la
                            bienvenida oficial a nuestra querida ciudad temporal.
                        </p>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="CAOS" id="volunteerCAOS"
                               {% if my_ticket.volunteer_umpalumpa %}checked{% endif %}>
                        <label class="form-check-label fw-bold" for="volunteerCAOS">CAOS</label>
                        <p class="mb-2 small" style="font-size:10px; line-height: inherit;">
                            Son los encargados de, terminado el evento, desarmar y que no quede rastro alguno.
                            Son una pieza clave, son creativos, resolutivos y comprometidos.
                        </p>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" id="saveVolunteer">Guardar</button>
            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById('saveVolunteer').addEventListener('click', async function () {
        let volunteerRanger = document.getElementById('volunteerRanger').checked;
        let volunteerTransmutador = document.getElementById('volunteerTransmutador').checked;
        let volunteerCAOS = document.getElementById('volunteerCAOS').checked;


        const response = await fetch("{% url 'volunteer_ticket' my_ticket.key %}", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'
            },
            body: JSON.stringify({
                volunteer_ranger: volunteerRanger,
                volunteer_transmutator: volunteerTransmutador,
                volunteer_umpalumpa: volunteerCAOS
            })
        });

        if (response.ok) {
            alert('Gracias por anotarte como voluntario');
            window.location.reload();
        } else {
            alert('Error al guardar los datos');
        }
    });

    document.getElementById('unAssignTicket').addEventListener('click', async function () {
        if (confirm('Si no vas a ir, desasigna tu bono para poder transferirselo a otra persona. ¿Estás seguro que no vas a ir?')) {
            window.location.href = "{% url 'unassign_ticket' my_ticket.key %}";
        }
    });

</script>




