name: Deploy to Prod

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: PROD

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.13'


      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: 'us-east-1'

      - name: Download env.prod from S3
        run: |
          aws s3 cp s3://faprivate/envs/env.prod env.prod

      - name: Create Virtual Environment and Install dependencies
        run: |
          python -m venv venv
          source venv/bin/activate
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Update Zappa environment variables and deploy
        run: |
          source venv/bin/activate
          python update_zappa_envs.py prod
          zappa update prod

      - name: Run Migrations
        run: |
          source venv/bin/activate
          zappa manage prod migrate

      - name: Run Collectstatic
        run: |
          source venv/bin/activate
          zappa manage prod "collectstatic --noinput"