{% extends 'tickets/barbu_base.html' %}
{% load static %}

{% block full_content %}
  <script src="https://cdn.jsdelivr.net/npm/morphdom@2.7.4/dist/morphdom-umd.min.js"></script>
  <link rel="stylesheet" href="{% static 'css/pre-post-event.css' %}" />
  <div class="container-fluid subheader">
    <div class="container">
      <div class="d-flex flex-row justify-content-between align-items-center flex-wrap flex-lg-nowrap">
        <h1 class="title">
          {% block page_title %}
          {% endblock page_title %}
        </h1>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="main-content">
      <div class="row">
        <div class="col-md-6">
          <p class="my-3">
            {% block description %}
            {% endblock description %}
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <iframe name="hiddenConfirm" id="hiddenConfirm" style="display: none" frameborder="0"></iframe>
          {% block form %}
          {% endblock form %}

          <p class="js-thankYouArte d-none">
            Cupo límite definido por ESTAFA, para solicitar más por favor contactate con tu responsable asignado.
          </p>

          <div id="thankYouContainer" style="display: none">
            <h2>¡Gracias! ¡Nos vemos en Fuego Austral 2025 Kairós!</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="{% static 'js/pre_post_event.js' %}"></script>
{% endblock %}
