{% extends 'tickets/barbu_base.html' %}

{% block full_content %}
  <style>
    body {
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
      /* background-color: #289e6d; */
    }
    .form-group {
      margin-bottom: 1rem;
    }
    #campsUserInfo {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      gap: 10px;
    }
    .member {
      display: flex;
      flex-direction: column;
      border: 1px solid #ccc;
      padding: 20px;
    }
    label[for] {
      display: block;
      cursor: pointer;
    }
    @media (min-width: 480px) {
      .tinyDropdown {
        max-width: 140px;
      }
    }
    select.form-control {
      padding-right: 24px;
    }
    .form-group:has(> select.form-control) {
      position: relative;

      &:after {
        position: absolute;
        right: 14px;
        top: calc(13px + 50%);
        transform: translateY(-50%);
        content: "▼";
        pointer-events: none;
        font-size: 14px;
      }
    }
  </style>
  <div class="container-fluid subheader">
    <div class="container">
      <div class="d-flex flex-row justify-content-between align-items-center flex-wrap flex-lg-nowrap">
        <h1 class="title">
          {% block page_title %}
          {% endblock page_title %}
        </h1>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="main-content">
      <div class="row">
        <div class="col-md-6">
          <p class="my-3">
            {% block description %}
            {% endblock description %}
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <iframe name="hiddenConfirm" id="hiddenConfirm" style="display: none" frameborder="0"></iframe>
          {% block form %}
          {% endblock form %}

          <div id="thankYouContainer" style="display: none">
            <h2>¡Gracias! ¡Nos vemos en Fuego Austral 2025!</h2>
          </div>

          <script>
            const MAX_MEMBERS_FOR = {
              Arte: {
                Joya: 3,
                Domolactico: 2,
                Serpiente: 10,
              },
              Camps: {
                Pochocamp: 3,
                Purmalandia: 2,
                Tafies: 10,
                Pi: 1,
                'Familia Natural': 10,
              },
            };

            const formEl = document.getElementById("form");
            const userInfoPlusSubmitEl = document.getElementById("userInfoPlusSubmit");
            const submitEl = document.getElementById("submitButton");
            const addMemberEl = document.getElementById("addMember");
            const campsUserInfoEl = document.getElementById("campsUserInfo");
            const memberHTML = document.querySelector(".js-member").outerHTML;

            const StateMachine = (reducer, render) => {
              let state = reducer()

              const dispatch = action => {
                state = reducer(JSON.parse(JSON.stringify(state)), action)
                state.lastAction = action.type;
                render(state)
              }

              return { state, dispatch }
            }

            const initialState = () => ({
              lastAction: null,
              area: "",
              grupo: "",
              descripcion: "",
              members: [],
            })

            const reducer = (state = initialState(), action = {}) => {
              console.log(state, action)

              switch (action.type) {
                case "SET_AREA":
                  state.area = action.area;
                  state.grupo = "";
                  return state;
                case "SET_GRUPO":
                  state.grupo = action.grupo;
                  if (state.members.length === 0) {
                    state.members.push({});
                  }
                  return state;
                case "SET_DESCRIPCION":
                  state.descripcion = action.descripcion;
                  return state;
                case "SET_MEMBER_VALUE":
                  state.members[state.members.length - 1][action.payload.field] = action.payload.value;
                  return state;
                case "REMOVE_MEMBER":
                  state.members.pop();
                  return state;
                case "ADD_MEMBER":
                  state.members.push({});
                  return state;
              }

              return state
            }

            const renderGrupo = (state) => {
              const grupoDropdownEl = document.querySelector('[field="Grupo"]')

              document.querySelectorAll('[field="Grupo"]').forEach((el) => (el.parentElement.style.display = "none"));
              if (state.area) {
                document.querySelector(`[field="Grupo"][parent="${state.area}"]`).parentElement.style.display = "block";
              }
            }

            const renderDescripcion = (state) => {
              document.querySelector('[field="Descripcion"]').parentElement.style.display = state.grupo !== "" ? "block" : "none";
            }

            const renderMembers = (state) => {
              userInfoPlusSubmitEl.style.display = state.grupo !== "" ? "block" : "none";
              if (!state.grupo) return;

              const memberEls = campsUserInfoEl.querySelectorAll(".js-member");
              if (state.members.length < memberEls.length) [...memberEls].at(-1).remove();
              if (state.members.length > memberEls.length) {
                campsUserInfoEl.insertAdjacentHTML("beforeend", memberHTML);
              }

              campsUserInfoEl.querySelectorAll(".js-member:last-child input, .js-member:last-child select").forEach((el) => {
                el.addEventListener("keydown", (event) => {
                  if (event.key !== "Enter") return
                  event.preventDefault();
                });
              });
              if (state.members.length === 1) {
                campsUserInfoEl.querySelector(".js-member:last-child .js-removeMember")?.remove();
              } else {
                campsUserInfoEl.querySelector(".js-member:last-child .js-removeMember")?.addEventListener("click", (event) => {
                  event.preventDefault();
                  formMachine.dispatch({ type: "REMOVE_MEMBER" });
                });
              }

              ;["Nombre", "DNI", "Telefono", "Dia"].forEach((field) => {
                campsUserInfoEl.querySelector(`.js-member:last-child [field="${field}"]`)?.addEventListener("change", (event) => {
                  formMachine.dispatch({ type: `SET_MEMBER_VALUE`, payload: { field, value: event.target.value } });
                });
              });
            }

            const renderAddMember = (state) => {
              if (!state.area || !state.grupo) return;
              addMemberEl.style.display = state.members.length < MAX_MEMBERS_FOR[state.area][state.grupo] ? "inline-block" : "none";
            }

            const submitForm = (state) => {
              if (state.lastAction !== "ADD_MEMBER") return;
              if (document.querySelector('[name="entry.2053464848"]:not([disabled])')) {
                formEl.submit();
              }
            }

            const disableFormFields = (state) => {
              if (state.members.length < 2) return;

              document.querySelectorAll('[field="Area"],[field="Grupo"]').forEach((el) => {
                el.style.pointerEvents = "none";
                el.style.backgroundColor = "var(--bs-secondary-bg)";
              });
              campsUserInfoEl.querySelectorAll("input,select").forEach((el) => (el.disabled = true));
              campsUserInfoEl.querySelectorAll(".js-removeMember").forEach((el) => el.remove());
            }

            const render = (state) => {
              console.log(state)
              // has to be called first
              submitForm(state)
              disableFormFields(state)

              renderGrupo(state)
              renderDescripcion(state)
              renderMembers(state)
              renderAddMember(state)
            }

            const formMachine = StateMachine(reducer, render)

            const campsDropdownEl = document.querySelector('[field="Grupo"][parent="Camps"]');
            Object.keys(MAX_MEMBERS_FOR.Camps).forEach((camp) => {
              const optionEl = document.createElement("option");
              optionEl.value = camp;
              optionEl.textContent = camp;
              campsDropdownEl.appendChild(optionEl);
            });

            const arteDropdownEl = document.querySelector('[field="Grupo"][parent="Arte"]');
            Object.keys(MAX_MEMBERS_FOR.Arte).forEach((arte) => {
              const optionEl = document.createElement("option");
              optionEl.value = arte;
              optionEl.textContent = arte;
              arteDropdownEl.appendChild(optionEl);
            });

            addMemberEl.addEventListener("click", (event) => {
              event.preventDefault();
              formMachine.dispatch({ type: "ADD_MEMBER" });
            });

            document.querySelector('[field="Area"]').addEventListener("change", (event) => {
              formMachine.dispatch({ type: "SET_AREA", area: event.target.value });
            });

            document.querySelectorAll('[field="Grupo"]').forEach((el) => {
              el.addEventListener("change", (event) => formMachine.dispatch({ type: "SET_GRUPO", grupo: event.target.value }));
            });

            document.querySelector('[field="Descripcion"]').addEventListener("change", (event) => {
              formMachine.dispatch({ type: "SET_DESCRIPCION", descripcion: event.target.value });
            });

            // const hiddenConfirmEl = document.getElementById("hiddenConfirm");
            // hiddenConfirmEl.onload = () => {
              // console.log("hiddenConfirmEl loaded");
              // submitEl.disabled = false;
              // submitEl.value = "Enviar";
            // };
            submitEl.addEventListener("click", () => {
              document.querySelector("#formContainer").style.display = "none";
              document.querySelector("#thankYouContainer").style.display = "block";
            });

            formEl.addEventListener("submit", (event) => {
              submitEl.disabled = true;
              submitEl.value = "Enviando...";
            });
          </script>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
