{% extends 'pre_post_event/base.html' %}

{% block page_title %}
  Ingreso anticipado - proveedores
{% endblock page_title %}

{% block description %}
  El ingreso de proveedores puede ocurrir exclusivamente durante los horarios de armado y desarme, fuera del evento.
  <br />
  Horario de proveedores ARMADO: Martes 25, Miércoles 26 y Jueves 27 de 8hs a 20hs.
  <br />
  <br />
  Este formulario se puede completar hasta el 14/02/2025. Luego se confirmará si el ingreso está validado o no.
  <br />
  <br />
{% endblock description %}

{% block form %}
  <form
    action="{{ form_url }}"
    data-form-type="ingreso-anticipado-proveedores"
    class="js-form"
    method="POST"
    target="hiddenConfirm"
  >
    <div class="form-group tinyDropdown">
      <label>
        <span>Área*</span>
        <select class="form-control" name="entry.1608074211" field="Area">
          <option value=""></option>
          <option value="Camps">Camps</option>
          <option value="Arte">Arte</option>
          <option value="Man">Man</option>
          <option value="Templo">Templo</option>
          <option value="Infra">Infra</option>
        </select>
      </label>
    </div>

    <div class="form-group tinyDropdown" style="display: none">
      <label>
        <span>Grupo*</span>
        <select class="form-control" name="entry.708028178" field="Grupo" parent="Camps">
          <option value=""></option>
        </select>
      </label>
    </div>

    <div class="form-group tinyDropdown" style="display: none">
      <label>
        <span>Grupo*</span>
        <select class="form-control" name="entry.708028178" field="Grupo" parent="Arte">
          <option value=""></option>
        </select>
      </label>
    </div>

    <div class="form-group tinyDropdown" style="display: none">
      <label>
        <span>Grupo*</span>
        <select class="form-control" name="entry.708028178" field="Grupo" parent="Templo">
          <option value=""></option>
        </select>
      </label>
    </div>

    <div class="form-group tinyDropdown" style="display: none">
      <label>
        <span>Grupo*</span>
        <select class="form-control" name="entry.708028178" field="Grupo" parent="Infra">
          <option value=""></option>
        </select>
      </label>
    </div>

    <div class="form-group tinyDropdown" style="display: none">
      <label>
        <span>Grupo*</span>
        <select class="form-control" name="entry.708028178" field="Grupo" parent="Man">
          <option value=""></option>
        </select>
      </label>
    </div>

    <div class="js-userInfoPlusSubmit" style="display: none">
      <h2>Datos de proveedores</h2>
      <div class="campsUserInfo js-campsUserInfo"></div>
      <input type="submit" value="Enviar y cerrar formulario" class="btn btn-primary mb-3" />
    </div>
  </form>

  <div class="js-memberHTML" style="display: none">
    <div class="member js-member card p-3 mb-3">
      <div class="form-group">
        <label>
          <span>Nombre del proveedor*</span>
          <input type="text" class="form-control" name="entry.958574261" field="Proveedor: Nombre" placeholder="Nombre del proveedor" />
        </label>
      </div>
      <div class="form-group">
        <label>
          <span>Apellido del proveedor*</span>
          <input type="text" class="form-control" name="entry.1770891089" field="Proveedor: Apellido" placeholder="Apellido del proveedor" />
        </label>
      </div>
      <div class="form-group">
        <label>
          <span>DNI del proveedor</span>
          <input type="text" class="form-control" name="entry.994332614" field="Proveedor: DNI" placeholder="DNI del proveedor" />
        </label>
      </div>
      <div class="form-group">
        <label>
          <span>Tipo de proveedor*</span>
          <input type="text" class="form-control" name="entry.893441559" field="Proveedor: Tipo de proveedor" placeholder="Tipo de proveedor" />
        </label>
      </div>
      <div class="form-group">
        <label>
          <span>Día de ingreso del proveedor*</span>
          <select class="form-control" name="entry.255145585" field="Proveedor: Dia">
            <option value=""></option>
            <option value="Martes 25, 8 a 14 hs">Martes 25, 8 a 14 hs</option>
            <option value="Martes 25, 14 a 20 hs">Martes 25, 14 a 20 hs</option>

            <option value="Miércoles 26, 8 a 14 hs">Miércoles 26, 8 a 14 hs</option>
            <option value="Miércoles 26, 14 a 20 hs">Miércoles 26, 14 a 20 hs</option>

            <option value="Jueves 27, 8 a 14 hs">Jueves 27, 8 a 14 hs</option>
            <option value="Jueves 27, 14 a 20 hs">Jueves 27, 14 a 20 hs</option>
          </select>
        </label>
      </div>

      <h3>¿Quién recibirá al proveedor?</h3>
      <div class="form-group">
        <label>
          <span>Nombre*</span>
          <input type="text" class="form-control" name="entry.2105690513" field="Proveedor: Quién recibirá: Nombre" placeholder="Quién recibirá: Nombre" />
        </label>
      </div>
      <div class="form-group">
        <label>
          <span>Apellido*</span>
          <input type="text" class="form-control" name="entry.181676448" field="Proveedor: Quién recibirá: Apellido" placeholder="Quién recibirá: Apellido" />
        </label>
      </div>
      <div class="form-group">
        <label>
          <span>DNI*</span>
          <input type="text" class="form-control" name="entry.2001070924" field="Proveedor: Quién recibirá: DNI" placeholder="Quién recibirá: DNI" />
        </label>
      </div>
      <div class="form-group">
        <label>
          <span>Teléfono de quién recibe al proveedor*</span>
          <input type="text" class="form-control" name="entry.441311753" field="Proveedor: Quién recibirá: Teléfono" placeholder="Quién recibirá: Teléfono" />
        </label>
      </div>
      <a href="#" class="removeMember js-removeMember btn btn-danger p-0 m-0 d-none" tabindex="-1">&times;</a>
      <button type="submit" class="js-addMember btn btn-primary mb-3 align-self-end d-none">Enviar y agregar otrx</button>
    </div>
  </div>
{% endblock form %}
