{% extends "tickets/base.html" %}

{% block content %}
    <div class="d-flex flex-column justify-content-center align-items-center flex-grow-1 my-5">
        <div class="text-center p-4 bg-light border rounded shadow-sm">
            <h2 class="mb-4">Donaciones</h2>
            <p class="text-start">Toda creación de la comunidad en Fuego Austral o en La Sede requiere de mucho trabajo,
                procesos y
                materiales. Por eso, además de adquirir tu bono contribución de ingreso, podes colaborar con algunas de
                las
                siguientes propuestas:</p>

            <form method="post" action="{% url 'select_donations' %}">
                {% csrf_token %}
                <div class="table-responsive">
                    <table class="table table-striped align-middle">
                        <thead>
                        <tr>
                            <th>Tipo de Donación</th>
                            <th class="text-center">Monto por unidad</th>
                            <th class="text-center">Cantidad</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="text-start align-middle">Becas de Arte
                                <br>
                                <span style="font-size: 0.85em; color: #666;">Para empujar la creatividad en nuestra ciudad temporal.</span>
                            </td>
                            <td class="align-middle text-center">${{ DONATION_AMOUNT }}</td>
                            <td class="align-middle text-center">
                                <div class="d-flex justify-content-center align-items-center">
                                    <button type="button" class="btn btn-info btn-sm align-self-stretch"
                                            onclick="updateDonationQuantity('art', -1)">-
                                    </button>
                                    <input type="text" id="donation_art_quantity"
                                           name="donation_art" value="{{ form.donation_art.value|default:0 }}"
                                           class="form-control mx-2 text-center align-self-stretch" style="width: 50px;"
                                           readonly>
                                    <button type="button" class="btn btn-info btn-sm align-self-stretch"
                                            onclick="updateDonationQuantity('art', 1)">+
                                    </button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-start align-middle">Beca Inclusión Radical<br>
                                <span style="font-size: 0.85em; color: #666;">Para ayudar a quienes necesitan una mano con su bono contribución.</span>
                            </td>
                            <td class="align-middle text-center">${{ DONATION_AMOUNT }}</td>
                            <td class="align-middle text-center">
                                <div class="d-flex justify-content-center align-items-center">
                                    <button type="button" class="btn btn-info btn-sm align-self-stretch"
                                            onclick="updateDonationQuantity('grant', -1)">-
                                    </button>
                                    <input type="text" id="donation_grant_quantity"
                                           name="donation_grant" value="{{ form.donation_grant.value|default:0 }}"
                                           class="form-control mx-2 text-center align-self-stretch" style="width: 50px;"
                                           readonly>
                                    <button type="button" class="btn btn-info btn-sm align-self-stretch"
                                            onclick="updateDonationQuantity('grant', 1)">+
                                    </button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-start align-middle">Donaciones a La Sede
                                <br>
                                <span style="font-size: 0.85em; color: #666;">Para mejorar el espacio donde nos encontramos todo el año.</span>
                            </td>
                            <td class="align-middle text-center">${{ DONATION_AMOUNT }}</td>
                            <td class="align-middle text-center">
                                <div class="d-flex justify-content-center align-items-center">
                                    <button type="button" class="btn btn-info btn-sm align-self-stretch"
                                            onclick="updateDonationQuantity('venue', -1)">-
                                    </button>
                                    <input type="text" id="donation_venue_quantity"
                                           name="donation_venue" value="{{ form.donation_venue.value|default:0 }}"
                                           class="form-control mx-2 text-center align-self-stretch" style="width: 50px;"
                                           readonly>
                                    <button type="button" class="btn btn-info btn-sm align-self-stretch"
                                            onclick="updateDonationQuantity('venue', 1)">+
                                    </button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="d-flex form-group mt-4 justify-content-end font-weight-bold">
                    <label class="mx-2">Total Donaciones:</label>
                    <span id="total_donations" class="fw-bold">$0.00</span>
                </div>

                <div class="d-flex  {% if ticket_selection %}justify-content-between{% else %}justify-content-end{% endif %}">

                    {% if ticket_selection %}
                        <a href="{% url 'select_tickets' %}"
                           class="btn btn-secondary text-white text-decoration-none">Atras</a>
                    {% endif %}
                    <button type="submit" class="btn btn-primary self-align-end">Continuar</button>
                </div>
            </form>
        </div>
    </div>

    <style>
        @media (max-width: 576px) {
            .btn-info {
                padding: 0.25rem 0.5rem;
                font-size: 0.875rem;
            }

            .form-control {
                width: 40px;
            }
        }
    </style>

    <script type="text/javascript">
        function updateDonationQuantity(type, increment) {
            var quantityInput = document.getElementById('donation_' + type + '_quantity');
            var currentValue = parseInt(quantityInput.value);
            var newValue = currentValue + increment;

            if (newValue >= 0) {
                quantityInput.value = newValue;
                calculateTotalDonations();
            }
        }

        function calculateTotalDonations() {
            var total = 0;

            var artQuantity = parseInt(document.getElementById('donation_art_quantity').value);
            var venueQuantity = parseInt(document.getElementById('donation_venue_quantity').value);
            var grantQuantity = parseInt(document.getElementById('donation_grant_quantity').value);

            total += (artQuantity + venueQuantity + grantQuantity);

            document.getElementById('total_donations').innerText = '$' + total.toFixed(2);
        }

        document.addEventListener("DOMContentLoaded", function () {
            calculateTotalDonations();
        });
    </script>
{% endblock %}
